@import url("https://fonts.cdnfonts.com/css/death-star");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "../../animations/content_appearance.scss";
@import "../../animations/bg_appearance.scss";

$death-star-font: "Death Star", sans-serif;
$bebas-neue: "Bebas Neue", cursive;

.work_experience {
  height: 100vh;
  font-family: $death-star-font;
  animation: bg_appearance 1s ease;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../public/backgrounds/background_4.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.55);
  }
}

.work_experience_content {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);

  animation: content_appearance 1.5s ease-in-out;

  z-index: 15;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.work_experience_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.work_experience_title_text {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ceb7ff;

  filter: drop-shadow(0 0 3px rgb(150 117 216 / 1));

  font-family: $death-star-font;
  font-size: 56px;
}

.work_experience_title_rectangle {
  border: 2px solid #ceb7ff;
  box-shadow: 0px 0px 4px #ceb7ff;
  width: 588px;
  height: 18px;
}

.work_experience_name {
  color: #fff;
  font-size: 46px;
  font-family: $bebas-neue;

  text-align: center;

  filter: drop-shadow(0 0 3px rgb(150 117 216 / 1));

  margin-top: 10px;

  -webkit-text-stroke-width: 0;
}

@media (max-width: 600px) {
  .work_experience_title_text {
    font-size: 35px;
  }

  .work_experience_title_rectangle {
    width: 370px;
  }

  .work_experience_name {
    font-size: 32px;
    margin-top: 0;
  }

  .my_projects_content {
    gap: 20px;
    top: 20%;
  }
  .contact_work {
    top: 60%;
    right: 50%;
    transform: translateX(50%);
  }
}
