@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "../../animations/content_appearance.scss";

$bebas-neue: "Bebas Neue", cursive;

.control_buttons {
  font-family: $bebas-neue;
  color: #ceb7ff;

  animation: content_appearance 1.5s ease-in-out;

  filter: drop-shadow(0 0 3px rgb(150 117 216 / 1));

  font-size: 36px;

  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  display: flex;
  justify-content: space-between;
  width: 95%;

  cursor: default;
}

.control_enter,
.control_wheel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
